/* Top Bar */
.ekart--top--bar {
  width: auto;
  text-align: right;
  padding-top: 3px;
  padding-bottom: 15px;
  padding-right: 30px;
  font-weight: 600;
  font-size: 13px;
  margin:0px;
}
/* Links */
a {
  text-decoration: none;
  padding: 0 10px;
  color: #28282B;
}

